* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 4em;
  }
  
  .container {
    margin: 0 auto;
    
  }
  
  .text-center {
    text-align: center;
  }

.list-none {
  list-style: none;
}

/* header */
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #2E3A46;
}

header img {
    width: 45px;
    margin-left: 10px;
}
/* main */


.container {
    display: flex;
    background-color: #1E2D3B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

.albums {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.album {
    width: calc(100% / 5 - 40px);
    margin-left: 40px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #2E3A46;
    text-align: center;
    
}

h3 {
    color: white;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;

}
p {
    color: gray;
    font-size: 1em;


}

.album-cover {
    margin: 0 auto;
}

.album-cover img {
    width: 100%;
}

/* footer */
footer {
    width: 100%;
    height: 60px;
    background-color: #2E3A46;
  }